.container.forum-card-container
  padding-left:25px
  padding-right:25px
  padding-bottom:30px
  .forum-slider-wrapper
    .forum-slider-title
      text-align: center
      font-size: 18px
      font-weight: 400
      color: #000
      margin-bottom: 1.0em
  border-radius:10px
  background: #faf8f8;
  box-shadow:  3px 8px 16px #dedede,
               -1px -1px 16px #e8e8e8;
  

@import '../forum-card/styles.styl'